p {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 30px;
}

.caption {
    font-size: 20px;
    color: pink;
}

 #contacthead{
    color: blue; 
}

.form-control {
    resize: none;
}

h1 {
    color:pink;
}