p {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 26px;
}

.caption {
    font-size: 20px;
    color: pink;
}

 #contacthead{
    color: blue; 
}

.form-control {
    resize: none;
}

h1 {
    color:pink;
}
.index {
    background: rgb(6,11,12);
    background: linear-gradient(0deg, rgba(6,11,12,1) 12%, rgba(64,139,202,1) 74%);
}

