p {
    font-family: 'Big Shoulders Text', cursive;
    font-size: 26px;
}



 

.form-control {
    resize: none;
}

.caption {
    font-size: 30px;
    color: rgb(66, 172, 157); 
}
.index {
    background: rgb(6,11,12);
    background: linear-gradient(0deg, rgba(6,11,12,1) 12%, rgba(64,139,202,1) 74%);
}

.portfolio {
    background: rgb(231,195,63);
    background: linear-gradient(135deg, rgba(231,195,63,1) 0%, rgba(220,106,20,1) 82%);

background-size:cover;

}

.port {
    color: rgb(81, 81, 148);
}

.contact {
    background: rgb(0,36,31);
background: linear-gradient(291deg, rgba(0,36,31,1) 8%, rgba(199,170,159,1) 62%);
}

.cont {
    color: rgb(97, 95, 231)
    
}